@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
:root {
  font-size: 1rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  scroll-behavior: smooth;
}

:root ::-webkit-scrollbar {
  width: 4.5px;
  border: 1px solid #000000;
  border-radius: .8em;
}

:root ::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #ffffff;
}

:root ::-webkit-scrollbar-thumb {
  background-color: #000000;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.fonts-failed body {
  font-family: Helvetica, Arial, sans-serif;
}

.fonts-failed h1,
.fonts-failed h2,
.fonts-failed h3,
.fonts-failed h4,
.fonts-failed h5,
.fonts-failed h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

img {
  border: none;
  outline: none;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), local("Montserrat"), url(https://fonts.gstatic.com/montserrat.woff2) format("woff2"), url(https://fonts.gstatic.com/montserrat.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  src: local("Montserrat"), local("Montserrat"), url(https://fonts.gstatic.com/montserrat.woff2) format("woff2"), url(https://fonts.gstatic.com/montserrat.woff) format("woff");
  font-display: swap;
}

.page-content-wrapper {
  margin-top: 75px;
}

@media screen and (min-width: 48em) {
  .page-content-wrapper {
    margin-top: 65px;
  }
}

/* header */
.myFixedMenu-box-shadow {
  width: 100%;
  -webkit-box-shadow: 0px 3px 5px rgba(225, 225, 225, 0.4);
          box-shadow: 0px 3px 5px rgba(225, 225, 225, 0.4);
}

.header {
  background-color: #fff;
  width: 100%;
  max-width: 100%;
  margin: 0 auto 0 0;
  position: fixed;
  width: 100%;
  height: 75px;
}

.header .brand-logo {
  width: 50px;
  height: auto;
  margin: .6em 0 .5em 1em;
}

.header .menu .menu-item {
  padding: 2em 0;
}

.header .menu .menu-item .menu-link {
  color: white;
  font-weight: 500;
  font-size: 1.125rem;
  text-transform: uppercase;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
  display: none;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 18px 10px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #00E0C7;
  top: 17px;
  right: 20px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.header .menu-icon .navicon {
  background: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #ffffff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
  z-index: 30;
}

.header .menu-btn:checked ~ .menu {
  max-height: 65vh;
  height: 65vh;
  background: #00E0C7;
  color: #ffffff;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  text-align: center;
  padding-top: 50px;
  display: block;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
  z-index: 30;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
  background: #ffffff;
}

/* 48em = 769px */
@media (min-width: 49em) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: calc(100% - 3.5px);
    margin: 0 auto 0 0;
    height: 65px;
    background: #ffffff;
    z-index: 100;
  }
  .header .brand-logo {
    width: 50px;
    height: auto;
    margin: .6em 0 .5em 4.4975em;
  }
  .header .menu-btn {
    display: none;
  }
  .header .menu-icon {
    display: none;
  }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    z-index: 90;
  }
  .header .menu .menu-item {
    padding: 0 2.0625em;
    margin-bottom: 75px;
  }
  .header .menu .menu-item .menu-link {
    color: #075966;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    cursor: pointer;
  }
  .header .menu .menu-item .menu-link:hover {
    color: #00fade;
  }
  .header .menu .menu-item .menu-link:focus {
    color: #064d58;
  }
}

.footer-wrap {
  width: 100%;
  max-width: calc(100% - 50px);
  margin: 0 auto;
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap {
    max-width: calc(100% - 170px);
  }
}

.footer-wrap .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
  }
}

.footer-wrap .footer-top .footer-logo {
  width: 200px;
  height: 100px;
  margin: 0 auto;
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .footer-top .footer-logo {
    margin: 0;
  }
}

.footer-wrap .footer-top .links-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 36px 26px;
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .footer-top .links-wrap {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 56px;
    max-width: calc(100% - 100px);
    margin: 0 100px 0 0;
  }
}

.footer-wrap .footer-top .links-wrap .footer-link-header {
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #000000;
  margin-bottom: 16px;
}

.footer-wrap .footer-top .links-wrap .footer-link-item .footer-link {
  font-weight: normal;
  font-size: .8rem;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .footer-top .links-wrap .footer-link-item .footer-link {
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
  }
  .footer-wrap .footer-top .links-wrap .footer-link-item .footer-link:hover {
    color: #00E0C7;
    font-weight: 500;
  }
}

.footer-wrap .horizontal-line {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  margin: 30px 0;
  width: 100%;
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .horizontal-line {
    margin: 5px 0 20px 0;
  }
}

.footer-wrap .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 60px;
  }
}

.footer-wrap .footer-bottom .footer-credit {
  font-weight: normal;
  font-size: .9rem;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 40px;
  margin-bottom: 20px;
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .footer-bottom .footer-credit {
    margin: 0;
  }
}

.footer-wrap .footer-bottom .footer-icons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .footer-bottom .footer-icons-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}

.footer-wrap .footer-bottom .footer-icons-wrap .follow-us {
  font-weight: normal;
  font-size: .9rem;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .footer-bottom .footer-icons-wrap .follow-us {
    margin-bottom: 0;
    margin-right: 10px;
  }
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .footer-bottom .footer-icons-wrap .footer-icons-container {
    cursor: pointer;
  }
}

.footer-wrap .footer-bottom .footer-icons-wrap .footer-icons-container .footer-icon {
  fill: #075966;
  width: 30px;
  height: 30px;
}

.footer-wrap .footer-bottom .footer-icons-wrap .footer-icons-container .footer-icon:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .footer-bottom .footer-icons-wrap .footer-icons-container .footer-icon {
    width: 25px;
    height: 25px;
  }
  .footer-wrap .footer-bottom .footer-icons-wrap .footer-icons-container .footer-icon:hover {
    fill: #0eacc5;
  }
  .footer-wrap .footer-bottom .footer-icons-wrap .footer-icons-container .footer-icon:focus {
    fill: #086a79;
  }
}

.brand-color {
  color: #00ead0;
  font-weight: 600;
}

.services-hero-wrap {
  background: url("../../../assets/bitmaps/t.png") #00E0C7;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 45vh;
  width: 100%;
  max-width: 100%;
}

@media screen and (min-width: 48.0625em) {
  .services-hero-wrap {
    height: 70vh;
  }
}

.services-hero-wrap .hero-text {
  font-weight: 600;
  font-size: 1.125rem;
  line-height: 27px;
  letter-spacing: -0.015em;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 2.5em;
}

@media screen and (min-width: 48.0625em) {
  .services-hero-wrap .hero-text {
    font-weight: 600;
    font-size: 2.375rem;
    line-height: 72px;
    letter-spacing: -0.015em;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    padding: 0 18em 0 1.5em;
  }
}

.services-wrap {
  padding: 1.875em;
}

@media screen and (min-width: 48.0625em) {
  .services-wrap {
    padding: 1.875em 0 2em 0;
    width: 100%;
    max-width: calc(100% - 23%);
    margin: 0 auto;
  }
}

@media screen and (min-width: 85.4375em) {
  .services-wrap {
    padding: 1.875em 0 2em 0;
    width: 100%;
    max-width: calc(100% - 30%);
    margin: 0 auto;
  }
}

@media screen and (min-width: 99.9375em) {
  .services-wrap {
    padding: 1.875em 0 2em 0;
    width: 100%;
    max-width: calc(100% - 45%);
    margin: 0 auto;
  }
}

.services-wrap .service--section:not(:first-child) {
  margin-bottom: 2em;
}

@media screen and (min-width: 48.0625em) {
  .services-wrap .service--section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: 300px;
  }
  .services-wrap .service--section:nth-child(even) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
            flex-flow: row-reverse;
  }
}

.services-wrap .service--section .service-icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-wrap .service--section .service-icon-wrap .service-icon {
  width: 200px;
}

@media screen and (min-width: 48.0625em) {
  .services-wrap .service--section .service-icon-wrap .service-icon {
    max-width: 300px;
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 48.0625em) {
  .services-wrap .service--section .service-details {
    max-width: 500px;
    margin-right: 3em;
  }
}

.services-wrap .service--section .service-details .service-header {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 36px;
  text-align: center;
  letter-spacing: -0.015em;
  color: #000000;
  margin-bottom: 1em;
}

@media screen and (min-width: 48.0625em) {
  .services-wrap .service--section .service-details .service-header {
    font-weight: bold;
    font-size: 2rem;
    line-height: 0;
    letter-spacing: -0.015em;
    color: #000000;
    text-align: left;
  }
}

@media screen and (min-width: 48.0625em) {
  .services-wrap .service--section .service-details .text-right {
    text-align: right !important;
  }
}

.services-wrap .service--section .service-details .service-detail {
  font-weight: normal;
  font-size: 0.875rem;
  line-height: 34px;
  text-align: center;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 48em) {
  .services-wrap .service--section .service-details .service-detail {
    font-weight: normal;
    font-size: .95rem;
    line-height: 2;
    letter-spacing: -0.015em;
    color: rgba(0, 0, 0, 0.8);
    text-align: left;
  }
}
/*# sourceMappingURL=services.css.map */