@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap");
:root {
  font-size: 1rem;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  scroll-behavior: smooth;
}

:root ::-webkit-scrollbar {
  width: 4.5px;
  border: 1px solid #000000;
  border-radius: .8em;
}

:root ::-webkit-scrollbar-track {
  border-radius: 0;
  background-color: #ffffff;
}

:root ::-webkit-scrollbar-thumb {
  background-color: #000000;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
}

.fonts-failed body {
  font-family: Helvetica, Arial, sans-serif;
}

.fonts-failed h1,
.fonts-failed h2,
.fonts-failed h3,
.fonts-failed h4,
.fonts-failed h5,
.fonts-failed h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: #000000;
}

img {
  border: none;
  outline: none;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  src: local("Montserrat"), local("Montserrat"), url(https://fonts.gstatic.com/montserrat.woff2) format("woff2"), url(https://fonts.gstatic.com/montserrat.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  src: local("Montserrat"), local("Montserrat"), url(https://fonts.gstatic.com/montserrat.woff2) format("woff2"), url(https://fonts.gstatic.com/montserrat.woff) format("woff");
  font-display: swap;
}

.page-content-wrapper {
  margin-top: 75px;
}

@media screen and (min-width: 48em) {
  .page-content-wrapper {
    margin-top: 65px;
  }
}

/* header */
.myFixedMenu-box-shadow {
  width: 100%;
  -webkit-box-shadow: 0px 3px 5px rgba(225, 225, 225, 0.4);
          box-shadow: 0px 3px 5px rgba(225, 225, 225, 0.4);
}

.header {
  background-color: #fff;
  width: 100%;
  max-width: 100%;
  margin: 0 auto 0 0;
  position: fixed;
  width: 100%;
  height: 75px;
}

.header .brand-logo {
  width: 50px;
  height: auto;
  margin: .6em 0 .5em 1em;
}

.header .menu .menu-item {
  padding: 2em 0;
}

.header .menu .menu-item .menu-link {
  color: white;
  font-weight: 500;
  font-size: 1.125rem;
  text-transform: uppercase;
}

/* menu */
.header .menu {
  clear: both;
  max-height: 0;
  -webkit-transition: max-height .2s ease-out;
  transition: max-height .2s ease-out;
  display: none;
}

/* menu icon */
.header .menu-icon {
  cursor: pointer;
  float: right;
  padding: 18px 10px;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background: #00E0C7;
  top: 17px;
  right: 20px;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  -ms-border-radius: 12px;
  -o-border-radius: 12px;
}

.header .menu-icon .navicon {
  background: #ffffff;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #ffffff;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */
.header .menu-btn {
  display: none;
  z-index: 30;
}

.header .menu-btn:checked ~ .menu {
  max-height: 65vh;
  height: 65vh;
  background: #00E0C7;
  color: #ffffff;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 10;
  text-align: center;
  padding-top: 50px;
  display: block;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
  z-index: 30;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
  background: #ffffff;
}

/* 48em = 769px */
@media (min-width: 49em) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    max-width: calc(100% - 3.5px);
    margin: 0 auto 0 0;
    height: 65px;
    background: #ffffff;
    z-index: 100;
  }
  .header .brand-logo {
    width: 50px;
    height: auto;
    margin: .6em 0 .5em 4.4975em;
  }
  .header .menu-btn {
    display: none;
  }
  .header .menu-icon {
    display: none;
  }
  .header .menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    z-index: 90;
  }
  .header .menu .menu-item {
    padding: 0 2.0625em;
    margin-bottom: 75px;
  }
  .header .menu .menu-item .menu-link {
    color: #075966;
    font-weight: 500;
    font-size: 1rem;
    text-transform: uppercase;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    cursor: pointer;
  }
  .header .menu .menu-item .menu-link:hover {
    color: #00fade;
  }
  .header .menu .menu-item .menu-link:focus {
    color: #064d58;
  }
}

.footer-wrap {
  width: 100%;
  max-width: calc(100% - 50px);
  margin: 0 auto;
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap {
    max-width: calc(100% - 170px);
  }
}

.footer-wrap .footer-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .footer-top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: 50px;
  }
}

.footer-wrap .footer-top .footer-logo {
  width: 200px;
  height: 100px;
  margin: 0 auto;
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .footer-top .footer-logo {
    margin: 0;
  }
}

.footer-wrap .footer-top .links-wrap {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 36px 26px;
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .footer-top .links-wrap {
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 56px;
    max-width: calc(100% - 100px);
    margin: 0 100px 0 0;
  }
}

.footer-wrap .footer-top .links-wrap .footer-link-header {
  font-weight: bold;
  font-size: 0.9375rem;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: #000000;
  margin-bottom: 16px;
}

.footer-wrap .footer-top .links-wrap .footer-link-item .footer-link {
  font-weight: normal;
  font-size: .8rem;
  line-height: 24px;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .footer-top .links-wrap .footer-link-item .footer-link {
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
  }
  .footer-wrap .footer-top .links-wrap .footer-link-item .footer-link:hover {
    color: #00E0C7;
    font-weight: 500;
  }
}

.footer-wrap .horizontal-line {
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  margin: 30px 0;
  width: 100%;
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .horizontal-line {
    margin: 5px 0 20px 0;
  }
}

.footer-wrap .footer-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .footer-bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 60px;
  }
}

.footer-wrap .footer-bottom .footer-credit {
  font-weight: normal;
  font-size: .9rem;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
  margin-top: 40px;
  margin-bottom: 20px;
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .footer-bottom .footer-credit {
    margin: 0;
  }
}

.footer-wrap .footer-bottom .footer-icons-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .footer-bottom .footer-icons-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-line-pack: start;
        align-content: flex-start;
  }
}

.footer-wrap .footer-bottom .footer-icons-wrap .follow-us {
  font-weight: normal;
  font-size: .9rem;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 20px;
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .footer-bottom .footer-icons-wrap .follow-us {
    margin-bottom: 0;
    margin-right: 10px;
  }
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .footer-bottom .footer-icons-wrap .footer-icons-container {
    cursor: pointer;
  }
}

.footer-wrap .footer-bottom .footer-icons-wrap .footer-icons-container .footer-icon {
  fill: #075966;
  width: 30px;
  height: 30px;
}

.footer-wrap .footer-bottom .footer-icons-wrap .footer-icons-container .footer-icon:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 48.0625em) {
  .footer-wrap .footer-bottom .footer-icons-wrap .footer-icons-container .footer-icon {
    width: 25px;
    height: 25px;
  }
  .footer-wrap .footer-bottom .footer-icons-wrap .footer-icons-container .footer-icon:hover {
    fill: #0eacc5;
  }
  .footer-wrap .footer-bottom .footer-icons-wrap .footer-icons-container .footer-icon:focus {
    fill: #086a79;
  }
}

.brand-color {
  color: #00ead0;
  font-weight: 600;
}

.home-hero {
  width: 100%;
  max-height: calc(100vh - 75px);
  height: 100vh;
  background: #fff url("../../../assets/bitmaps/hp-hero.png");
  background-repeat: no-repeat;
  background-size: 100% 90vh;
  max-width: 100%;
  background-position: bottom center;
  background-attachment: fixed;
}

@media screen and (min-width: 48.0625em) {
  .home-hero {
    width: 100%;
    max-height: calc(100vh - 65px);
    height: 100vh;
    background: #fff url("../../../assets/bitmaps/hp-hero.png");
    background-repeat: no-repeat;
    background-size: 100% 60vh;
    background-position: bottom center;
    max-width: 100%;
    background-attachment: fixed;
  }
}

.home-hero .home-hero--text {
  font-weight: 200;
  font-size: 1.5rem;
  line-height: 29px;
  color: #000000;
  height: auto;
  width: 100%;
  text-align: center;
  padding-top: 60px;
  margin-bottom: 119px;
}

@media screen and (min-width: 48.0625em) {
  .home-hero .home-hero--text {
    padding-top: 120.48px;
    margin-bottom: 112.62px;
    font-weight: 200;
    font-size: 2.2rem;
    line-height: 4.25rem;
  }
}

@media screen and (min-width: 90em) {
  .home-hero .home-hero--text {
    font-size: 2.3rem;
    padding-top: 223.48px;
    margin-bottom: 192.62px;
  }
}

.home-hero .home-hero--text .mobile-break {
  display: block;
}

@media screen and (min-width: 48.0625em) {
  .home-hero .home-hero--text .mobile-break {
    display: inline;
  }
}

.home-hero .home-hero--text .desktop-break {
  display: inline;
}

@media screen and (min-width: 48.0625em) {
  .home-hero .home-hero--text .desktop-break {
    display: block;
  }
}

.home-hero .home-hero--text .text-brand-color {
  color: #00E0C7;
  text-transform: uppercase;
  font-weight: 400;
}

.home-hero .hero-cta-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.home-hero .hero-cta-wrap .hero-cta-btn {
  height: 50px;
  width: 140px;
  outline: none;
  border: none;
  background: #00E0C7;
  color: #000000;
  font-size: 0.6875rem;
  text-transform: uppercase;
  border-radius: 200px;
  -webkit-border-radius: 200px;
  -moz-border-radius: 200px;
  -ms-border-radius: 200px;
  -o-border-radius: 200px;
}

.home-hero .hero-cta-wrap .hero-cta-btn:focus {
  background: #00efd5;
  color: #ffffff;
  font-weight: 600;
}

@media screen and (min-width: 48.0625em) {
  .home-hero .hero-cta-wrap .hero-cta-btn {
    width: 200px;
    height: 60px;
    font-size: 1rem;
    transition: all .3s linear;
    -webkit-transition: all .3s linear;
    -moz-transition: all .3s linear;
    -ms-transition: all .3s linear;
    -o-transition: all .3s linear;
    cursor: pointer;
  }
  .home-hero .hero-cta-wrap .hero-cta-btn:hover {
    -webkit-box-shadow: 2px 5px 15px rgba(0, 224, 199, 0.6);
            box-shadow: 2px 5px 15px rgba(0, 224, 199, 0.6);
    background: #00efd5;
    color: #ffffff;
    font-weight: 600;
  }
  .home-hero .hero-cta-wrap .hero-cta-btn:focus {
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.who-we-are-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  background: #00E0C7;
}

@media screen and (min-width: 48.0625em) {
  .who-we-are-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.who-we-are-wrap .who-we-are-text-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 37px 49px 56px 49px;
  text-align: center;
}

@media screen and (min-width: 48.0625em) {
  .who-we-are-wrap .who-we-are-text-col {
    text-align: left;
    padding: 0 89px 0 86px;
  }
}

.who-we-are-wrap .who-we-are-text-col .who-we-are-header {
  font-weight: bold;
  font-size: 1.5rem;
  line-height: 29px;
  color: #000000;
}

.who-we-are-wrap .who-we-are-text-col .who-we-are-text {
  font-style: normal;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 25px;
  color: #000000;
  padding-top: 20px;
  padding-bottom: 37px;
}

.who-we-are-wrap .who-we-are-text-col .learn-more-link {
  font-weight: bold;
  font-size: 13px;
  line-height: 16px;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #ffffff;
}

@media screen and (min-width: 48.0625em) {
  .who-we-are-wrap .who-we-are-text-col .learn-more-link {
    transition: color .3s linear;
    -webkit-transition: color .3s linear;
    -moz-transition: color .3s linear;
    -ms-transition: color .3s linear;
    -o-transition: color .3s linear;
    cursor: pointer;
  }
  .who-we-are-wrap .who-we-are-text-col .learn-more-link:hover {
    color: #075966;
  }
}

.who-we-are-wrap .who-we-are-image-col {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 0 27px 42px 29px;
}

@media screen and (min-width: 48.0625em) {
  .who-we-are-wrap .who-we-are-image-col {
    padding: 130px 99px 129.46px;
  }
}

.what-we-do-wrap {
  padding-top: 42px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 48.0625em) {
  .what-we-do-wrap {
    padding-top: 60px;
    padding-bottom: 175px;
    width: 100%;
    max-width: calc(100% - 179px);
    margin: 0 auto;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.what-we-do-wrap .what-we-do-header {
  font-weight: normal;
  font-size: 2.25rem;
  line-height: 72px;
  letter-spacing: -0.015em;
  color: #000000;
}

@media screen and (min-width: 48.0625em) {
  .what-we-do-wrap .what-we-do-header {
    font-weight: normal;
    font-size: 2.2rem;
    line-height: 72px;
    letter-spacing: -0.015em;
    color: #000000;
    padding: 0 0 20px 0;
  }
}

.what-we-do-wrap .what-we-do-text {
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.015em;
  line-height: 33px;
  color: rgba(0, 0, 0, 0.8);
  width: 100%;
  max-width: calc(100% - 60px);
  margin: 0 auto;
}

@media screen and (min-width: 48.0625em) {
  .what-we-do-wrap .what-we-do-text {
    font-size: 1.2rem;
    max-width: 100%;
    text-align: left;
    margin-bottom: 112px;
  }
}

.what-we-do-wrap .what-we-do-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  max-width: calc(100% - 40px);
  margin: 0 auto;
}

@media screen and (min-width: 48.0625em) {
  .what-we-do-wrap .what-we-do-details {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    grid-gap: 0 107px;
    max-width: 100%;
  }
}

.what-we-do-wrap .what-we-do-details .what-we-do-card {
  border: 1px solid rgba(0, 0, 0, 0.5);
  height: auto;
  width: 100%;
}

.what-we-do-wrap .what-we-do-details .what-we-do-card:first-of-type {
  margin-top: 28px;
}

@media screen and (min-width: 48.0625em) {
  .what-we-do-wrap .what-we-do-details .what-we-do-card:first-of-type {
    margin-top: 0;
  }
}

.what-we-do-wrap .what-we-do-details .what-we-do-card:not(:last-of-type) {
  margin-bottom: 36.72px;
}

@media screen and (min-width: 48.0625em) {
  .what-we-do-wrap .what-we-do-details .what-we-do-card:not(:last-of-type) {
    margin-bottom: 0;
  }
}

.what-we-do-wrap .what-we-do-details .what-we-do-card:last-of-type {
  margin-bottom: 40px;
}

@media screen and (min-width: 48.0625em) {
  .what-we-do-wrap .what-we-do-details .what-we-do-card:last-of-type {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 48.0625em) {
  .what-we-do-wrap .what-we-do-details .what-we-do-card {
    height: auto;
  }
}

.what-we-do-wrap .what-we-do-details .what-we-do-card .card-image {
  height: 150px;
  width: 100%;
  -o-object-position: center;
     object-position: center;
}

@media screen and (min-width: 48.0625em) {
  .what-we-do-wrap .what-we-do-details .what-we-do-card .card-image {
    height: 200px;
  }
}

.what-we-do-wrap .what-we-do-details .what-we-do-card .card-header {
  margin-top: 15px;
  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: -0.015em;
  color: #000000;
  padding: 0 14px;
}

@media screen and (min-width: 48.0625em) {
  .what-we-do-wrap .what-we-do-details .what-we-do-card .card-header {
    padding: 0 20px;
  }
}

.what-we-do-wrap .what-we-do-details .what-we-do-card .card-text {
  text-align: left;
  font-weight: normal;
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: -0.015em;
  color: rgba(0, 0, 0, 0.8);
  padding: 20px 14px;
}

@media screen and (min-width: 48.0625em) {
  .what-we-do-wrap .what-we-do-details .what-we-do-card .card-text {
    padding: 20px 20px;
  }
}

.slideshow-container {
  width: 100%;
  max-width: 100%;
  height: 884px;
  position: relative;
  background: #075966;
  padding-bottom: 50px;
}

@media screen and (min-width: 48.0625em) {
  .slideshow-container {
    height: 450px;
  }
}

.mySlides {
  display: none;
  height: 100%;
}

.mySlides .slide-image {
  position: absolute;
  width: 100%;
  height: 400px;
  bottom: 0;
  padding-bottom: 50px;
}

@media screen and (min-width: 48.0625em) {
  .mySlides .slide-image {
    height: 450px;
    width: 44%;
    padding-bottom: 0;
    right: 0;
  }
}

.mySlides .text-wrapper {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 48.0625em) {
  .mySlides .text-wrapper {
    width: 50%;
    height: 100%;
  }
}

.mySlides .text-wrapper .review-header {
  font-weight: 600;
  font-size: 1.125rem;
  text-align: center;
  color: #ffffff;
  width: 100%;
  padding: 67px 55px 0 55px;
}

@media screen and (min-width: 48.0625em) {
  .mySlides .text-wrapper .review-header {
    font-weight: 600;
    font-size: 1.5rem;
    text-align: left;
    color: #ffffff;
    padding: 67px 55px 0 80px;
  }
}

.mySlides .text-wrapper .review-comment {
  font-weight: normal;
  font-size: .9rem;
  text-align: center;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.8);
  padding: 23px 40px 21px 40px;
}

@media screen and (min-width: 48.0625em) {
  .mySlides .text-wrapper .review-comment {
    font-size: 1rem;
    text-align: left;
    margin-bottom: 20px;
    padding: 23px 80px 21px 80px;
  }
}

.mySlides .text-wrapper .review-image-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media screen and (min-width: 48.0625em) {
  .mySlides .text-wrapper .review-image-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-left: 80px;
  }
}

.mySlides .text-wrapper .review-image-wrap .image-review {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  margin-bottom: 20px;
}

@media screen and (min-width: 48.0625em) {
  .mySlides .text-wrapper .review-image-wrap .image-review {
    margin-bottom: 0;
  }
}

.mySlides .text-wrapper .review-name {
  font-weight: normal;
  font-size: 0.675rem;
  letter-spacing: -0.015em;
  color: rgba(255, 255, 255, 0.8);
  text-align: center;
}

@media screen and (min-width: 48.0625em) {
  .mySlides .text-wrapper .review-name {
    text-align: left;
    margin-left: 20px;
    font-size: .7rem;
  }
}

.dots-wrapper {
  position: absolute;
  bottom: 50%;
  z-index: 200;
  width: 100%;
  text-align: center;
}

@media screen and (min-width: 48.0625em) {
  .dots-wrapper {
    bottom: 5%;
  }
}

.dot {
  cursor: pointer;
  height: 10px;
  width: 10px;
  margin: 0 2px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: inline-block;
  transition: background-color .6s ease;
  -webkit-transition: background-color .6s ease;
  -moz-transition: background-color .6s ease;
  -ms-transition: background-color .6s ease;
  -o-transition: background-color .6s ease;
}

.active,
.dot:hover {
  background-color: #ffffff;
}

.good-company-wrap {
  padding: 76px 36px 60px 36px;
}

@media screen and (min-width: 48.0625em) {
  .good-company-wrap {
    padding: 140px 60px 90px 60px;
  }
}

.good-company-wrap .good-company-header {
  padding-bottom: 63px;
  font-size: 1.2rem;
  text-align: center;
  color: #000000;
}

@media screen and (min-width: 48.0625em) {
  .good-company-wrap .good-company-header {
    font-size: 2rem;
  }
}

.good-company-wrap .good-company__inner {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 30px;
}

@media screen and (min-width: 48.0625em) {
  .good-company-wrap .good-company__inner {
    -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-line-pack: center;
        align-content: center;
  }
}

@media screen and (min-width: 48.0625em) {
  .good-company-wrap .good-company__inner .brands-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.contact-form-wrap {
  width: 100%;
  height: auto;
  max-width: 100%;
  background: url("../../../assets/bitmaps/contact-bg.jpg"), rgba(0, 224, 199, 0.6) no-repeat center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (min-width: 48.0625em) {
  .contact-form-wrap {
    padding-bottom: 30px;
  }
}

.contact-form-wrap .contact-header {
  font-weight: 500;
  font-size: 1.55rem;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
  padding: 25px 30px 40px 30px;
}

@media screen and (min-width: 48.0625em) {
  .contact-form-wrap .contact-header {
    font-size: 3rem;
    padding-top: 65px;
  }
}

.contact-form-wrap .forms-wrap {
  width: 100%;
  max-width: calc(100% - 70px);
  margin: 0 auto;
}

@media screen and (min-width: 48.0625em) {
  .contact-form-wrap .forms-wrap {
    max-width: calc(100% - 50%);
    margin: auto;
    padding: 35px 64px 0 64px;
    border: 2px solid #ffffff;
  }
}

.contact-form-wrap .forms-wrap .contact__inner--header {
  font-weight: bold;
  font-size: 1.3rem;
  text-align: center;
  letter-spacing: -0.015em;
  color: #ffffff;
  padding-bottom: 20px;
}

@media screen and (min-width: 48.0625em) {
  .contact-form-wrap .forms-wrap .contact__inner--header {
    text-align: left;
  }
}

.contact-form-wrap .forms-wrap .form-input-group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (min-width: 48.0625em) {
  .contact-form-wrap .forms-wrap .form-input-group {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .contact-form-wrap .forms-wrap .form-input-group .right {
    margin-right: 2em;
  }
}

.contact-form-wrap .forms-wrap .form-input {
  width: 100%;
  height: 50.8px;
  background: rgba(0, 206, 183, 0.9);
  margin-bottom: 20px;
  padding-left: .5rem;
  border: none;
  outline: none;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  /* WebKit, Edge */
  /* Firefox 4-18 */
  /* Firefox 19+ */
  /* IE 10-11 */
  /* Edge */
  /* MODERN BROWSER */
}

.contact-form-wrap .forms-wrap .form-input:focus {
  border: 1px solid #ffffff;
  color: #ffffff;
  caret-color: #ffffff;
  /* WebKit, Edge */
  /* Firefox 4-18 */
  /* Firefox 19+ */
  /* IE 10-11 */
  /* Edge */
  /* MODERN BROWSER */
}

.contact-form-wrap .forms-wrap .form-input:focus::-webkit-input-placeholder {
  color: #ffffff;
}

.contact-form-wrap .forms-wrap .form-input:focus:-ms-input-placeholder {
  color: #ffffff;
}

.contact-form-wrap .forms-wrap .form-input:focus::-ms-input-placeholder {
  color: #ffffff;
}

.contact-form-wrap .forms-wrap .form-input:focus::placeholder {
  color: #ffffff;
}

.contact-form-wrap .forms-wrap .form-input::-webkit-input-placeholder {
  color: #000000;
  font-size: .9rem;
  letter-spacing: -0.015em;
}

.contact-form-wrap .forms-wrap .form-input:-ms-input-placeholder {
  color: #000000;
  font-size: .9rem;
  letter-spacing: -0.015em;
}

.contact-form-wrap .forms-wrap .form-input::-ms-input-placeholder {
  color: #000000;
  font-size: .9rem;
  letter-spacing: -0.015em;
}

.contact-form-wrap .forms-wrap .form-input::placeholder {
  color: #000000;
  font-size: .9rem;
  letter-spacing: -0.015em;
}

.contact-form-wrap .forms-wrap .textarea-input {
  width: 100%;
  height: 200.63px;
  resize: none;
  padding-top: 10px;
}

@media screen and (min-width: 48.0625em) {
  .contact-form-wrap .forms-wrap .textarea-input {
    height: 100px;
  }
}

.contact-form-wrap .forms-wrap .contact-btn {
  border: none;
  outline: none;
  width: 100%;
  height: 50px;
  background: #ffffff;
  color: #000000;
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear;
  -ms-transition: all .3s linear;
  -o-transition: all .3s linear;
  margin-bottom: 50px;
}

.contact-form-wrap .forms-wrap .contact-btn:focus {
  background: gray;
}

@media screen and (min-width: 48.0625em) {
  .contact-form-wrap .forms-wrap .contact-btn {
    width: 120px;
    height: 45px;
    font-size: .8rem;
    cursor: pointer;
  }
  .contact-form-wrap .forms-wrap .contact-btn:hover {
    border: solid 1px #ffffff;
    background: transparent;
    color: #ffffff;
    font-weight: 500;
  }
}
/*# sourceMappingURL=style.css.map */