@import '../../../styles/global.scss';

.contact-us-hero-wrap {

    @include flex-row;
    background: url('../../../assets/bitmaps/contact-bg.jpg') $brand-color;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    max-width: 100%;

    @include mobileFirst(769) {

        height: 75vh;

    }

    .contact-hero-header {

        font-weight: 600;
        font-size: 1.5rem;
        line-height: 45px;
        text-align: center;
        letter-spacing: -0.015em;
        color: $white;

        @include mobileFirst(769) {

            text-align: left;
            font-weight: 600;
            font-size: 3.175rem;
            line-height: 62px;
            letter-spacing: -0.015em;
            color: $white;
            width: 100%;
            padding-left: 89px;
        }

        .hero-break {

            display: block;
            font-size: 1rem;
            text-align: center;

            @include mobileFirst(769) {

                text-align: left;
                font-size: 1.5rem;
               
            }
    

        }
    }
}


.contact-us__inner {

    width: 100%;
    max-width: calc(100% - 62px);
    margin: 0 auto;
    padding-top: 80px;
    padding-bottom: 100px;

    @include mobileFirst(769) {

        max-width: calc(100% - 170px);
    }

    .page-content-header {

        font-size: 1.1rem;
        line-height: 37px;
        letter-spacing: -0.015em;
        color: $font-color;
        padding-bottom: 30px;
        text-align: center;

        @include mobileFirst(769) {

            text-align: left;
            font-size: 2.5rem;
            line-height: 72px;
            padding-bottom: 50px;

            .contact-break {

                display: block;
                text-align: left;
            }
        }
    }

    .contact-details-wrap {

        @include column;
        width: 100%;

        @include mobileFirst(769) {

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 10%;
        }

        .contact-detail-col {

            width: 100%;
            text-align: center;
            margin-bottom: 2em;

            @include mobileFirst(769) {

                text-align: left;
            }

            .contact-detail-header {

                font-weight: bold;
                font-size: .9rem;
                line-height: 30px;
                letter-spacing: -0.015em;
                color: $font-rgba;
                text-align: center;
                margin-bottom: .5em;

                @include mobileFirst(769) {

                    font-size: 1.8rem;
                    text-align: left;
                }

            }

            .contact-detail-text {

                font-weight: 300;
                font-size: .8rem;
                line-height: 2;
                margin-bottom: .85em;

                @include mobileFirst(769) {

                    font-size: 1.1rem;
                    text-align: left;
                }

            }

            .contact-detail-link {

                color: $brand-color;
                text-transform: uppercase;
                font-size: .8rem;
                width: 100%;
                text-decoration: underline;

                @include mobileFirst(769) {

                    font-size: 1rem;
                    text-align: left;
                    @include transition;

                    &:hover {

                        color: darken($color: $brand-color, $amount: 10%);
                    }

                    &:focus {

                        color: darken($color: $brand-color, $amount: 14%);
                    }
                }
            }
        }
    }

}
