@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;600&display=swap');
@import '../styles/colors';
@import '../styles/mixins';

:root {

    font-size: 1rem;
    box-sizing: border-box;

    -webkit-box-sizing: border-box;
    scroll-behavior: smooth;

    ::-webkit-scrollbar {
        width: 4.5px;
        border: 1px solid $font-color;
        border-radius: .8em;
    }

    ::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: $white;
    }

    ::-webkit-scrollbar-thumb {
        background-color: $font-color;
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.fonts-failed body {
    font-family: Helvetica, Arial, sans-serif;
}

.fonts-failed h1,
.fonts-failed h2,
.fonts-failed h3,
.fonts-failed h4,
.fonts-failed h5,
.fonts-failed h6 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul,
li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

p {
    font-family: 'Montserrat', sans-serif;
    color: $font-color;
}

img {
    border: none;
    outline: none;
    max-width: 100%;
    height: auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

// FONT-FACE Montserrat
@font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local("Montserrat"), local("Montserrat"),
        url(https://fonts.gstatic.com/montserrat.woff2) format('woff2'),
        url(https://fonts.gstatic.com/montserrat.woff) format('woff');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    src: local("Montserrat"), local("Montserrat"),
        url(https://fonts.gstatic.com/montserrat.woff2) format('woff2'),
        url(https://fonts.gstatic.com/montserrat.woff) format('woff');
    font-display: swap;
}

.page-content-wrapper {

    margin-top: 75px;

    @include mobileFirst(768) {


        margin-top: 65px;
    }
}


// HEADER STYLES
/* header */

.myFixedMenu-box-shadow {
    width: 100%;
    box-shadow: 0px 3px 5px rgba(225, 225, 225, .4);
}

.header {
    background-color: #fff;
    width: 100%;
    max-width: 100%;
    margin: 0 auto 0 0;
    position: fixed;
    width: 100%;
    height: 75px;

    .brand-logo {

        width: 50px;
        height: auto;
        margin: .6em 0 .5em 1em;
    }

    .menu {

        .menu-item {

            padding: 2em 0;

            .menu-link {

                color: lighten($color: $white, $amount: 10%);
                font-weight: 500;
                font-size: 1.125rem;
                text-transform: uppercase;
            }
        }
    }
}


/* menu */

.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
    display: none;
}

/* menu icon */

.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 18px 10px;
    position: relative;
    user-select: none;
    background: $brand-color;
    top: 17px;
    right: 20px;
    @include radius-12px;

}

.header .menu-icon .navicon {
    background: $white;
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
    background: $white;
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}

.header .menu-icon .navicon:before {
    top: 5px;
}

.header .menu-icon .navicon:after {
    top: -5px;
}

/* menu btn */

.header .menu-btn {
    display: none;
    z-index: 30;
}

// WHEN MENU IS CHECKED ON MOBILE
.header .menu-btn:checked~.menu {
    max-height: 65vh;
    height: 65vh;
    background: $brand-color;
    color: $white;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 10;
    text-align: center;
    padding-top: 50px;
    display: block;
}

.header .menu-btn:checked~.menu-icon .navicon {
    background: transparent;
    z-index: 30;
}

.header .menu-btn:checked~.menu-icon .navicon:before {
    transform: rotate(-45deg);
}

.header .menu-btn:checked~.menu-icon .navicon:after {
    transform: rotate(45deg);
}

// BUTTON TURN TO X AFTER CLICK
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked~.menu-icon:not(.steps) .navicon:after {
    top: 0;
    background: $white;
}

/* 48em = 769px */

@media (min-width: 49em) {

    .header {

        position: fixed;
        top: 0;
        width: 100%;
        max-width: calc(100% - 3.5px);
        margin: 0 auto 0 0;
        height: 65px;
        background: $white;
        z-index: 100;

        .brand-logo {

            width: 50px;
            height: auto;
            margin: .6em 0 .5em 4.4975em;
        }

        .menu-btn {

            display: none;
        }

        .menu-icon {

            display: none;
        }

        .menu {

            @include flex-row;
            padding: 0;
            z-index: 90;

            .menu-item {

                padding: 0 2.0625em;
                margin-bottom: 75px;

                .menu-link {

                    color: $brand-color-dark;
                    font-weight: 500;
                    font-size: 1rem;
                    text-transform: uppercase;
                    @include transition;
                    cursor: pointer;

                    &:hover {

                        color: lighten($color: $brand-color, $amount: 5%);
                    }

                    &:focus {

                        color: darken($color: $brand-color-dark, $amount: 3%);
                    }
                }
            }
        }
    }
}


// FOOTER STYLES
.footer-wrap {

    width: 100%;
    max-width: calc(100% - 50px);
    margin: 0 auto;

    @include mobileFirst(769) {

        max-width: calc(100% - 170px);
    }

    .footer-top {

        @include column;

        @include mobileFirst(769) {

            @include row;
            justify-content: space-between;
            align-items: center;
            margin-top: 50px;
        }

        .footer-logo {

            width: 200px;
            height: 100px;
            margin: 0 auto;

            @include mobileFirst(769) {

                margin: 0;
            }
        }

        .links-wrap {

            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-gap: 36px 26px;

            @include mobileFirst(769) {

                grid-template-columns: repeat(3, 1fr);
                grid-gap: 0 56px;
                max-width: calc(100% - 100px);
                margin: 0 100px 0 0;
            }

            .footer-link-header {

                font-weight: bold;
                font-size: 0.9375rem;
                line-height: 24px;
                letter-spacing: -0.015em;
                color: $font-color;
                margin-bottom: 16px;

            }

            .footer-link-item {

                .footer-link {

                    font-weight: normal;
                    font-size: .8rem;
                    line-height: 24px;
                    letter-spacing: -0.015em;
                    color: $font-rgba;

                    @include mobileFirst(769) {

                        @include transition;


                        &:hover {

                            color: $brand-color;
                            font-weight: 500;
                        }
                    }
                }
            }
        }
    }

    // HORIZONTAL LINE
    .horizontal-line {

        border-top: 1px solid rgba(0, 0, 0, 0.5);
        margin: 30px 0;
        width: 100%;

        @include mobileFirst(769) {

            margin: 5px 0 20px 0;
        }
    }

    .footer-bottom {

        display: flex;
        flex-direction: column-reverse;

        @include mobileFirst(769) {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding-bottom: 60px;
        }

        .footer-credit {

            font-weight: normal;
            font-size: .9rem;
            line-height: 24px;
            text-align: center;
            letter-spacing: -0.015em;
            color: $font-rgba;
            margin-top: 40px;
            margin-bottom: 20px;


            @include mobileFirst(769) {

                margin: 0;
            }
        }

        .footer-icons-wrap {

            @include column;
            align-items: center;

            @include mobileFirst(769) {

                @include row;
                align-content: flex-start;

            }

            .follow-us {

                font-weight: normal;
                font-size: .9rem;
                line-height: 24px;
                text-align: center;
                letter-spacing: -0.015em;
                color: $font-rgba;
                margin-bottom: 20px;

                @include mobileFirst(769) {

                    margin-bottom: 0;
                    margin-right: 10px;
                }
            }

            .footer-icons-container {

                @include mobileFirst(769) {

                    cursor: pointer;
                }

                .footer-icon {

                    fill: #075966;
                    width: 30px;
                    height: 30px;

                    &:not(:last-child) {

                        margin-right: 10px;

                    }

                    @include mobileFirst(769) {

                        width: 25px;
                        height: 25px;

                        &:hover {

                            fill: lighten($color: #075966, $amount: 20%);
                        }
                        &:focus {

                            fill: lighten($color: #075966, $amount: 4%);
                        }
                    }
                }
            }
        }
    }
}

.brand-color {

    color: lighten($color: $brand-color, $amount: 2%);
    font-weight: 600;
}
